/* You can add global styles to this file, and also import other style files */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
}

label {
  font-weight: bold;
}

i {
  margin-right: 5px;
}
.col-valor {
  width: 120px;
  text-align: right;
}

.col-data {
  width: 120px;
  text-align: center;
}

.col-acoes {
  width: 100px;
  text-align: center;
}





